<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zx.mapper.ArticlesMapper">
    <resultMap id="BaseResultMap" type="com.zx.model.Articles">
        <constructor>
            <arg column="id" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="name" jdbcType="VARCHAR" javaType="java.lang.String"/>
        </constructor>
    </resultMap>
    <insert id="insert" parameterType="com.zx.model.Articles">
        insert into vue_article (title, body)
        values (#{title,jdbcType=VARCHAR}, #{body,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.zx.model.Articles">
        insert into vue_article
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <select id="selectAll" resultType="java.util.Map">
        select *
        from vue_article
    </select>
    <select id="listPager" parameterType="com.zx.model.Articles" resultType="java.util.Map">
        select *
        from vue_article
        where title like concat(concat('%', #{title,jdbcType=VARCHAR}), '%')
    </select>
    <update id="updateByPrimaryKeySelective" parameterType="com.zx.model.Articles">
        update vue_article
        set title=#{title,jdbcType=VARCHAR},
            body=#{body,jdbcType=VARCHAR}
        where id = #{id,jdbcType=VARCHAR}
    </update>
</mapper>